.hidden-ul {
  ul {
    &::before {
      height: 0px;
    }
  }
}

.container-map {
  height: 100vh;
  width: 100vw;
  width: 100%;
  flex: 1;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  [data-node-id] {
    min-width: 100px; // Asegura un ancho mínimo
    min-height: 50px; // Asegura un alto mínimo
    margin: 10px; // Espacio entre nodos
  }

  p {
    font-size: 30px;
    line-height: 40px;
  }
  rect {
    rx: 10;
    box-shadow: 0 4px 12px 0 #00000026;
  }
}

.mermaid {
  height: auto;
  overflow-y: hidden;
  margin-top: 3%;
  @media (max-width: 1000px) {
    margin-top: 0;
  }
}

:global(.node rect) {
  width: 300px !important;
  min-height: 100px !important;
}

:global(.edgeLabel) {
  background-color: transparent !important;
}

.scroll-container {
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 9;
  display: flex;
  min-height: 100vh;
  padding: 1rem;
  cursor: grab;
}

.content-modal {
  font-family: "Roboto", sans-serif !important;
}
.secondary-connection {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1));
}
