$colors: (
  common: (
    text: #000,
    primary: #eb0029,
    box-shadow: 0px 24px 60px #00000012,
    background: #eee,
    secondary: #747474,
    white: #ffffff,
    black: #000000,
    orange-red: #ed544b,
    dpink: #b51a65,
    red: #c60b1e,
    pink-red: "#B60666",
    border: #e4e4e4,
    border-input: #1e1e1e,
    blue-white: #e5edf1,
    gray: #eaeaea,
    gray-light: #f8f8f8,
    placeholder: #b7b7b7,
  ),
  heading: (
    primary: #5e61b5,
  ),
  grey: (
    1: #f7f8fd,
    2: #f8f8f8,
  ),
  text: (
    body: #000000,
    p: #000000,
  ),
  theme: (
    1: #5e61b5,
    2: #f2c43e,
    primary: #5e61b5,
    secondary: #f2c43e,
  ),
  border: (
    1: #e8ecf2,
  ),
);
